<form class="ui stacked segment form" action="/bookmark/{{bookmark.id}}/addbookmark" method="POST">
  
 <div class="three fields">
<div class="field">
<lable>Title</lable>
<input placeholder="Title" type="text" name="title" autofocus required>
   </div>
   <div class="field">
     <lable>Bookmark Link</lable>
     <input placeholder="Link for the Bookmark" type="text" name="link" required>
   </div>
   <div class="field">
     <lable>Description</lable>
     <input placeholder="Description" type="text" name="description" required>
   </div>
  </div>
 <button class="ui blue submit button">
   Add Bookmark
  </button> 
  
                  </form>
