<form class="ui segment form" action="/addmessage" method="POST">
  <label>Please Write Your Message Here....</label>
  <textarea type="text" name="message"></textarea>
  <button class="ui blue submit button">
    Add Comment
  </button>
</form>