{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Bookmarks app
  </h1>
  <p>
     This app is made for Assignment 1 of Web App Development
  </p>
  <p>
  This App Categorizes Web Bookmark,gives you the name of the website,link,description and lets you delete it.
  </p>
  <img class="medium" src="https://cdn.glitch.com/f1e16074-9834-442f-afbb-6a9ac6318bd7%2Fdownload.png?1519929580038" alt"img">
  <div class="ui center aligned grid segment">
    <div class="ui header"></div>
    <div class="ui statistics">
      <div class="statistic">
        <div class="value">
          <i class="book icon"></i>{{totalNumberOfCollections}}
        </div>
        <div class="label">
          Bookmark Categories for User
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="bookmark icon"></i>{{totalBookmarks}}
        </div>
        <div class="label">
          Bookmarks for User
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="book icon"></i>{{maxBookmarkName}}
        </div>
        <div class="label">
         has Most Bookmarks
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="book icon"></i>{{minBookmarkName}}
        </div>
        <div class="label">
          has least Bookmarks
        </div>
      </div>
    </div>
  </div>
</section>